* {
    font-family: 'Raleway', sans-serif;
}

.hp-main {
    text-align: center;
    margin: auto;
    height: 100%;
}

.top-hp img {
    width: 380px;
    height: 310px;
    position: relative;
}

.top-hp h1 {
    position: absolute;
    top: 200px;
    right: 0;
    height: 126px;
    width: 130px;
    color: #FFFFFF;
    font-size: 36px;
    letter-spacing: 0.39px;
    line-height: 42px;
}

.top-hp p {
    text-align: center;
    height: 63px;
  width: 359px;
  color: #22272E;
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0.27px;
  line-height: 21px;
}

.assistance {
    display: inline;
}

.assistance button {
    height: 56px;
    width: 340px;
    border-radius: 35px;
    background-color: #0D2389;
    color: white;
    margin: 20px;
    border: 2px solid #0D2389;
}

.hp-img img{
    width: 350px;
    height: 200px;
    border: 5px solid blue;
}

.hp-info {
    text-align: center;
}

.hp-info p {
    text-align: center;
    width: auto;
}
