.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;

}

.logo {
    width: 80px;
    height: 50px;
    text-align: center;
    margin-right: auto;
}

.logo img {
    margin-top: 10px;
    margin-left: 20px;
}

.donate-btn {
    width: 80px;
    height: 50px;
}

.donate-btn button {
    height: 30px;
  width: 73px;
    color: #0D2389;  
    font-weight: 950;  
    font-size: 14px;
    letter-spacing: 0.15px;
    border: 2px solid #0D2389;
    line-height: 16px;
    border-radius: 35px;
    margin-top: 10px;
    text-transform: uppercase;
}

.hamb-menu {
    margin-top: 14px;
    margin-right: 16px;

}

.hamb-menu img {
    width: 30px;
    height: 20px;
}
