.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.module-container {
  border: 3px solid orange;
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 12px;
  margin-right: 12px;
}

.next-button {
  width: 85%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.heart-image {
  height: 60px;
  width: 60px;
}

.card-image {
  height: 150px;
  width: 150px;
}
